.food_card_item {
    border: 1px solid salmon;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.food_card_item_img img {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: .5s;
}

.food_card_item_img:hover img {
    transform: scale(.8);
}

.food_card_item_title {
    font-weight: bold;
    margin: 1rem 0;
}

.food_card_item_price span {
    margin-right: 3rem;
    font-weight: bolder;
}