.food_details_section {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    justify-content: space-between;
}

.img_item img {
    width: 50%;
}

.product_title {
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0;
}

.product_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.product_price span {
    color: #ff4d6d;
}

.single_product_content {
    margin-left: 2rem;
}

.single_product_content button {
    margin-top: 3rem;
}