/* primary ff4d6d */
/* secondary c9184a */
/* tertiary ffb3c1 */
.home_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    height: 100vh;
}

.home_container img {
    width: 100%;
}

.home_subtitle {
    font-size: 1.5rem;
    font-weight: 600;
}

.home_title span {
    font-size: 3rem;
    font-weight: 900;
    color: #ff4d6d;
}

.home_title {
    font-size: 2.8rem;
    font-weight: 600;
}

.home_text {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
}

.home_button {
    padding: 8px;
    margin-top: 15px;
    background-color: #ff4d6d;
    border-radius: 8px;
    color: white;
    transition: .5s;
}

.home_button:hover {
    background-color: #c9184a;
    transform: translate(10px);
}

.home_button_section {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.home_info_section {
    display: flex;
    gap: 15px;
    margin-top: 2rem;
}

.home_info_section p {
    font-size: 15px;
}

.home_info_section span {
    color: #ff4d6d;
    font-size: 20px;
    margin-right: 10px;
}

@media only screen and (max-width:768px) {
    .home_container {
        display: flex;
        flex-direction: column;
    }

    .home_subtitle {
        font-size: 1rem;
        font-weight: 600;
    }

    .home_title span {
        font-size: 2rem;
        font-weight: 900;
        color: #ff4d6d;
    }

    .home_title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .category_section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .service_section {
        display: flex;
        flex-direction: column;
    }

    .food_list {
        display: flex;
        flex-direction: column;
    }


    .all_food_section {
        display: grid;
        grid-template-columns: 1fr;
    }

    .qa_section {
        display: flex;
        flex-direction: column;
    }

    .client_section {
        display: none;
    }

    .testimonial_section {
        display: flex;
        flex-direction: column;
    }
}